<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>

<link rel="stylesheet" type="text/css" href="../css/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>
<script>
$(document).ready(function() {
	
	var flag = false;
	
	$("#btn").click(function(){
		
		if($("#name").val()==""){
			alert("이름을 입력하세요");
			return;
		}
		
		
		$("#registerForm").submit();
		
	});
	
	
	$("#pass").change(function(){
		var pass = $("#pass").val();
		var passChk = $("#passChk").val();
		
		if(pass.length<6){
			$("#lengthError").show();	
			$("#btn").prop("disabled",true);
		}else{
			$("#lengthError").hide();
			if(pass != passChk){
				$("#btn").prop("disabled",true);
				$("#passChk").css("border","2px solid red");
				$("#passError").show();
			}else{
				$("#passChk").css("border","1px solid black");
				$("#passError").hide();
				$("#btn").prop("disabled",false);
			}
			flag = true;
		}
	})
	
	$("#passChk").change(function(){

		var pass = $("#pass").val();
		var passChk = $("#passChk").val();
		
		if(flag){
			if(pass != passChk){
				$("#passChk").css("border","2px solid red");
				$("#passError").show();
				$("#btn").prop("disabled",true);
			}else{
				$("#passChk").css("border","1px solid black");
				$("#passError").hide();
				$("#btn").prop("disabled",false);
	
			}
		}
		
	});
	
});

</script>



<body>
	<div class="wrap">
		<div class="login-bg">
			<div style="height:1px;"></div>
			<div class="login" style="height:950px">
				<img src = "../images/logo.png" class="logo">
				<h4>アカウントを作成</h4>		
				<div class="w-100"></div>
				<p>メールアドレスを入力します</p>
				<form action="/emailCheck" method="post" id="registerForm">
					<input type="text" class="w-100" th:value=${user.email} disabled="disabled">
					<div class="w-100"></div>
					<p>氏名</p>
					<input type="text" class="w-100"  name="name" id="name">
					<div class="w-100"></div>
					<p>パスワード（6文字以上）</p>
					<input type="password" class="w-100"  name="password" id="pass">
					<div id="lengthError" class="text-danger w-100" style="display:none;">
				        パスワードを確認してください
				    </div>
					<div class="w-100"></div>
					<p>もう一度パスワードを入力してください</p>
					<input type="password" class="w-100"  name="passwordChk" id="passChk">
					<div id="passError" class="text-danger w-100" style="display:none;">
				        パスワードを確認してください
				    </div>
					<div class="w-100"></div>
					<input type="button" class="w-100 btn btn-primary" value="アカウントの作成に進む" id="btn" disabled="disabled">
					
				</form>
				<div class="w-100"></div>
				<div class="w-100"></div>
				<hr>
				<p>すでにminiMMPのお客様ですか？</p> 
				<a th:href="@{/}">別のメールアドレスまたは携帯電話でサインインする</a>
				<div class="w-100"></div>
				<div class="footer-logo">© miniMMP</div>
			</div>
			
		</div>

	</div>
</body>
</html>