<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>

<link rel="stylesheet" type="text/css" href="../css/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</head>
<script>
$(document).ready(function() {
	$("#btn").click(function(){
		$("#frm").submit();
	});
});

</script>



<body>
	<div class="wrap">
		<div class="login-bg">
			<div style="height:1px;"></div>
			<div class="login">
				<img src = "../images/logo.png" class="logo">
				<h4>アカウントを作成</h4>		
				<div class="w-100"></div>
				<div class="w-100"></div>
				<p>
					<span th:text="${user.email}" id="email"></span>
					<a th:href="@{/}">変更</a>
				</p>
				<div class="w-100"></div>
				<p>メールアドレスを使ってアカウントを作成しましょう</p>
				<div class="w-100"></div>
				<form id="frm" action="/registerProcess" method="post">
				    <input type="hidden" name="email" id="email" th:value="${user.email}">
					<input type="button" class="w-100 btn btn-primary" value="アカウントの作成に進む" id="btn">
				</form>
				<div class="w-100"></div>
				<div class="w-100"></div>
				<hr>
				<p>すでにminiMMPのお客様ですか？</p> 
				<a th:href="@{/}">別のメールアドレスまたは携帯電話でサインインする</a>
				<div class="w-100"></div>
				<div class="footer-logo">© miniMMP</div>
			</div>
			
		</div>

	</div>
</body>
</html>